<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Monkey's Cup</title>
     <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
     <!-- MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      {{!-- CSS --}}
    <link rel="stylesheet" href="/css/style.css" />
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
      {{!-- THREE.js --}}
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.155.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.155.0/examples/jsm/"
        }
      }
    </script>
  </head>

  {{!-- Logo --}}
  <body>
   <section class="home-section{{#if isHomepage}} homepage{{/if}}">
     <div class="container-fluid">
      <header class="d-flex justify-content-between align-items-center p-2">
        {{#unless isHomepage}}
          <h1 class="m-0">
            <a href="/" class="logo-small">
              <img
                src="https://res.cloudinary.com/dfecvj7s4/image/upload/v1691958295/escape-room-adventure-logo_wzo7or.png"
                alt="Logo"
                class="logo"
              />
            </a>
          </div>
          </h1>
          {{/unless}}

    <body class="{{#if isHomepage}}homepage{{/if}}"></body>
    <!-- Mobile menu dropdown -->
      <div class="mobile-menu-dropdown" id="mobileMenuDropdown">
      {{!-- desktop nav-bar --}}
          <nav class="desktop-nav d-flex justify-content-center align-items-center">
          <!-- desktop navigation links for different pages -->
         
             <a href="/" >home</a>/
             {{#if isMobileView}}
             <a href="/about-more">about</a>/
             {{else}}
             <a href="/about">about</a>/
             {{/if}}
             <a href="/reservations">book a reservation</a>/
             {{#if loggedIn}}
             <a href="/profile">my reservations</a>/
             <a href="/developers">developers</a>/
             <button class="no-button {{#if isHomepage}} white-text{{/if}}" id="logout">logout</button>
             {{else}}
             <a href="/developers">developers</a>/
             <a href="/signup">sign up</a>/
             <a href="/login">login</a>
             {{/if}}
          </nav>
      </div>
      <!--MOBILE NAV BAR-->
  
      {{!-- mobile menu --}}
       <div class="mobile-menu-icon" id="mobileMenuIcon">
         <div class="bar"></div>
         <div class="bar"></div>
         <div class="bar"></div>
       </div>

  <section class="bg-img">
    <div>
      <ul id="slide-out" class="sidenav">
        <li>
          <div class="user-view">
            {{!-- <div class="background"><img src="/images/A Monkey's Cup-logo.png" /></div> --}}
            <a href="/"><img class="side-nav-logo" src="https://res.cloudinary.com/dfecvj7s4/image/upload/v1691958295/escape-room-adventure-logo_wzo7or.png" /></a>
            {{!-- <a href="#name"><h2 class="name">THE MONKEY'S CUP</h2></a> --}}
            {{!-- <a href="#email"><h4 class="side-nav-subheader">AN ESCAPE ROOM ADVENTURE</h4></a> --}}
          </div>
        </li>
          <li><a class="side-nav-button" href="/"><img src="/images/home.png" alt="Home" class="nav-icon">HOME</a>
          <li><a class="side-nav-button" href="/about-more"><img src="/images/about.png" alt="About" class="nav-icon">ABOUT</a></li>
          <li><a class="side-nav-button" href="/reservations"><img src="/images/my res.png" alt="Reservations" class="nav-icon">MY RESERVATIONS</a></li>
          {{#if loggedIn}}
          <li><a class="side-nav-button" href="/profile"><img src="/images/profile.png" alt="Profile" class="nav-icon">PROFILE</a></li>
          <li><a class="side-nav-button" href="/developers"><img src="/images/dev.png" alt="Developers" class="nav-icon">DEVELOPERS</a></li>
          <li><a class="side-nav-button" href="/logout"><img src="/images/logout.png" alt="Logout" class="nav-icon">LOGOUT</a></li>
          {{else}}
          <li><a class="side-nav-button" href="/developers"><img src="/images/dev.png" alt="Developers" class="nav-icon">DEVELOPERS</a></li>
          <li><a class="side-nav-button" href="/login"><img src="/images/login.png" alt="Login" class="nav-icon">LOGIN</a></li>
          <li><a class="side-nav-button" href="/signup"><img src="/images/sign up.png" alt="Sign Up" class="nav-icon">SIGN UP</a></li>
      </ul>
          {{/if}}
    </div>
    </header>
      <main class="container mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>
        <!-- Add footer content here -->
      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
     <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- MaterializeCSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/redirect.js"></script>
  {{!-- Side Nav Bar --}}
    <script>


  document.addEventListener("DOMContentLoaded", function () {
  const mobileMenuIcon = document.querySelector("#mobileMenuIcon");
  const slideOut = document.querySelector("#slide-out");

  mobileMenuIcon.addEventListener("click", function () {
    // Open the side navigation
  const instance = M.Sidenav.getInstance(slideOut);
  instance.open();
  });

  // Initialize the side navigation
  const slideOutInstance = M.Sidenav.init(slideOut);
});
  </script>
  </body>

</html>