<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUNGLE ESCAPE ROOM</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <!-- Link to Adobe Fonts CSS -->
    {{! <link href="https://fonts.adobe.com/fonts/quicksand" rel="stylesheet" />
    <link
      href="https://fonts.adobe.com/search?query=forma+DJR+display"
      rel="stylesheet"
    />
    <link href="https://fonts.adobe.com/search?query=acumin" rel="stylesheet" /> }}
    <link rel="stylesheet" href="/css/style.css" />
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.155.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.155.0/examples/jsm/"
        }
      }
    </script>
  </head>

   <section class="home-section{{#if isHomepage}} homepage{{/if}}">
  
  <body>
     <div class="container-fluid">
    <header class="d-flex justify-content-between align-items-center p-2">
      {{#unless isHomepage}}
      <h1 class="m-0">
        <a href="/">
          <img
            src="https://res.cloudinary.com/dfecvj7s4/image/upload/v1691958295/escape-room-adventure-logo_wzo7or.png"
            alt="Logo"
            class="logo"
          />
        </a>
      </h1>
       {{/unless}}


      {{!-- mobile menu --}}
       <div class="mobile-menu-icon" id="mobileMenuIcon">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
<!-- Mobile menu dropdown -->
  <div class="mobile-menu-dropdown" id="mobileMenuDropdown">
        <nav class="d-flex justify-content-center align-items-center">
          <!-- Navigation links for different pages -->
          <a href="/" >home</a>/
          <a href="/about">about</a>/
          <a href="/reservations">book a reservation</a>/
          {{#if loggedIn}}
            <a href="/profile">my reservations</a>/
            <a href="/developers">developers</a>/
            <button class="no-button" id="logout">logout</button>
          {{else}}
            <a href="/developers">developers</a>/
            <a href="/signup">sign up</a>/
            <a href="/login">login</a>
          {{/if}}


  </div>
        </nav>
      </header>
      <main class="container mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>
        <!-- Add footer content here -->
      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>

</html>