<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUNGLE ESCAPE ROOM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Link to Adobe Fonts CSS -->
    <link href="https://fonts.adobe.com/fonts/quicksand" rel="stylesheet" />
    <link
      href="https://fonts.adobe.com/search?query=forma+DJR+display"
      rel="stylesheet"
    />
    <link href="https://fonts.adobe.com/search?query=acumin" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          <a href="/">
            <img
              src="/public/images/jungle-escape-room-logo-b.png"
              alt="Jungle Escape Room Logo"
              class="logo"
            />
          </a>
        </h1>
        <nav>
          <!-- Navigation links for different pages -->
          <a href="/">home</a>|
          <a href="/about">about</a>|
          <a href="/reservations">reservations</a>|
          {{#if loggedIn}}
            <a href="/profile">profile</a>
            <button class="no-button" id="logout">logout</button>
          {{else}}
            <a href="/signup">sign up</a>|
            <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>
        <!-- Add footer content here -->
      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>

</html>