<section class="about-section">
  <div class="about-content">
    <h2>developers</h2>
    <div class="developer">
      {{! Derek }}
      <img
        src="/images/derek.jpg"
        alt="Derek Stanley-Howarth"
        class="developer-image"
      />
      <h3>Derek Stanley-Howarth</h3>
      <p class="developer-links">
        <a href="https://www.portfolio-derek.com" target="_blank">portfolio</a>
        |
        <a href="https://www.linkedin.com/in/derek/" target="_blank">
          <img src="/public/images/linkedin.png" alt="LinkedIn" class="icon" />
        </a>
        <a href="https://github.com/derek" target="_blank">
          <img src="/public/images/github.png" alt="GitHub" class="icon" />
        </a>
        <a href="dkshowarth@gmail.com">
          <img src="/public/images/email.jpeg" alt="Email" class="icon" />
        </a>
      </p>
    </div>
    <div class="developer">
      {{! June }}
      <img src="/images/june.jpg" alt="June Moon" class="developer-image" />
      <h3>June Moon</h3>
      <p class="developer-links">
        <a href="https://www.portfolio-june.com" target="_blank">portfolio</a>
        |
        <a href="https://www.linkedin.com/in/june/" target="_blank">
          <img src="/public/images/linkedin.png" alt="LinkedIn" class="icon" />
        </a>
        <a href="https://github.com/june" target="_blank">
          <img src="/public/images/github.png" alt="GitHub" class="icon" />
        </a>
        <a href="moonjunsain@gmail.com">
          <img src="/public/images/email.jpeg" alt="Email" class="icon" />
        </a>
      </p>
    </div>
    <div class="developer">
      {{! Elena }}
      <img
        src="/images/elena.jpg"
        alt="Elena Gurchinskaia"
        class="developer-image"
      />
      <h3>Elena Gurchinskaia</h3>
      <p class="developer-links">
        <a
          href="https://elenagurchinskaia.github.io/Portfolio/"
          target="_blank"
        >portfolio</a>
        |
        <a
          href="https://www.linkedin.com/in/elena-gurchinskaia/"
          target="_blank"
        >
          <img src="/public/images/linkedin.png" alt="LinkedIn" class="icon" />
        </a>
        <a href="https://github.com/elena" target="_blank">
          <img src="/public/images/github.png" alt="GitHub" class="icon" />
        </a>
        <a href="elenagurchinskaia@gmail.com">
          <img src="/public/images/email.jpeg" alt="Email" class="icon" />
        </a>
      </p>
    </div>
  </div>
</section>