<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/cloudinary-video-player/dist/cld-video-player.min.css"
/>
<script
  src="https://cdn.jsdelivr.net/npm/cloudinary-video-player/dist/cld-video-player.min.js"
></script>

<video id="player" class="cld-video-player cld-fluid" muted autoplay loop></video>

<script>
  const player = cloudinary.videoPlayer("player", { cloud_name: "dfecvj7s4" });
  player.source("escape-room-video_hdaybz");
</script>
{{!-- logo --}}
  <div class="logo-container">
    <img
            src="https://res.cloudinary.com/dfecvj7s4/image/upload/v1691958295/escape-room-adventure-logo_wzo7or.png"
            alt="Logo"
            class="monkey-cup-logo"
          />
            {{!-- neon button --}}
  </div>
    <a href="/login" class="neon-button">login</a>
</section>

<script src="/js/homepage.js"></script>

