{{! CSS classes }}
<section class="home-section"style="background-image: url('/public/images/jungle-escape-room -min.gif'); background-size: cover;">
</section>
  <div class="home-content">
    <h2>JUNGLE ESCAPE ROOM</h2>
  </div>
  <a href="/login" class="neon-button">login</a>
</section>