<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/cloudinary-video-player/dist/cld-video-player.min.css"
/>
<script
  src="https://cdn.jsdelivr.net/npm/cloudinary-video-player/dist/cld-video-player.min.js"
></script>

<video id="player" class="cld-video-player cld-fluid" muted controls></video>

<script>
  const player = cloudinary.videoPlayer("player", { cloud_name: "demo" });
  player.source("homepage_video");
</script>

<section class="home-section">
  <div class="home-content">
    <h1 class="title">JUNGLE</h1>
    <h1 class="title">ESCAPE</h1>
    <h1 class="title">ROOM</h1>
    <a href="/login" class="neon-button">login</a>
  </div>
</section>

{{! <script src="/public/js/homepage.js"></script> }}