<video autoplay muted loop id="background-video">
  <source
    src="https://drive.google.com/file/d/1HWwdMmt0AkyJVgJfdZ-OjvIhmnIwSpjD/view?usp=sharing"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<section class="home-section">
  <div class="home-content">
    <h1 class="title">JUNGLE</h1>
    <h1 class="title">ESCAPE</h1>
    <h1 class="title">ROOM</h1>
    <a href="/login" class="neon-button">login</a>
  </div>
</section>

{{! <script src="/public/js/homepage.js"></script> }}

{{! white logo }}
{{! https://drive.google.com/file/d/1as7O3JZ1P8H_mq-iU-iCAOd6V0y_Xr27/view?usp=sharing }}