<div class="d-flex justify-content-center align-items-center">
  <div class="card text-center col-5 col-md-8">

    <div class="card-header">
      <h5 class="card-title">Log In</h5>
    </div>

    <div class="card-body">
      <form id="login-form" class="text-start needs-validation" novalidate>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="name@example.com"
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" />
        </div>
        <p class="text-danger text-start" id="errMsg"></p>
        <div class="text-center mb-3 d-grid gap-3">
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>

      </form>

      <p class="text-start card-text"><a
          class="link-offset-2 link-underline link-underline-opacity-0"
          href="/signup"
        >Not a member? Sign up!</a></p>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>