{{! login-section class to style login-content }}
<section class="login-section">
  <div class="login-content">
    <h2>login</h2>
    {{! POST the form to the server for authentication }}
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="email">email</label>
        {{! required attributes to ensure that users must fill in these fields }}
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      {{! Submit button }}
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
</section>