{{! profile-section class to set the global styles }}
<section class="profile-section">
  {{! style content area }}
  <div class="profile-content">
    <h2>your reservations</h2>
    <div class="reservation">
      {{! dynamic reservation date }}
      <p>[{{reservationDate}}]</p>
      <button class="cancel-button">cancel</button>
    </div>
  </div>
</section>