{{! profile-section class to set the global styles }}
<section class="profile-section">
  {{! style content area }}
  <div class="profile-content">
    <h2>your reservations</h2>
    {{#each reservations}}
    {{!-- id will be needed to cancel reservation --}}
    <div id="{{id}}" class="reservation">
      {{! dynamic reservation date and qr code}}
      <p>{{date}}</p>
      <div>{{qr_code_url}}</div>

      {{!-- this button will delete reservation using fetch request (front end) --}}
      <button class="cancel-button">cancel</button>
    </div>
    {{/each}}
  </div>
</section>