<section class="reservations-section">
  <div class="reservations-content">
    <h2>make a reservation:</h2>
    <div id="calendar" class="calendar">
      {{! dynamically generated calendar }}
    </div>
    <h2>choose a time for your visit:</h2>
    <div class="time-slots">
      <h3>MORNING</h3>
      <ul>
        {{! placeholders for time slots }}
        <li>9:00 AM</li>
        <li>10:00 AM</li>

      </ul>
      <h3>AFTERNOON</h3>
      <ul>
        <li>1:00 PM</li>
        <li>2:00 PM</li>

      </ul>
    </div>
  </div>
</section>

<script>
  // java script to gen calendar
</script>