/*-------------------------------------------------- GLOBAL STYLES ----------------------------------------------------*/
:root {
  /*----------COLORS----------*/
  --grey: #cbcbcb;
  --green: #82a390;

  /*----------FONTS----------*/

  --font-titles: "Forma DJR Display", sans-serif; /* titles */
  --font-navbar: "Quicksand", sans-serif; /* nav-bar */
  --font-buttons: "Acumin Variable Concept", sans-serif; /* buttons */
}

.logo {
  filter: invert(0%);
  max-width: 70px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--green); /* change color on hover */
}

/* Remove underline from navigation links */
nav a:hover {
  text-decoration: none;
}

body {
  font-family: "Quicksand", sans-serif;
}

/*-------------------------------------------------- HOMEPAGE ----------------------------------------------------*/

/* invert the logo color for homepage */
.homepage .logo {
  filter: invert(100%);
}
/* change the color of the navbar for homepage */
.homepage nav a {
  color: white;
}

#player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Place the video behind the content */
}
/* content styles */
.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; /* Place the content above the video */
}

/* Neon button styles */
.neon-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 2; /* Place the button above the video */
}

.neon-button:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  background-color: #00ff00;
  z-index: -1; /* Place the neon glow below the button */
}

/* Neon glow effect */
.neon-button:hover {
  background-color: transparent;
  box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00;
}

title {
  font-family: "Forma DJR Display", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

/*-------------------------------------------------- MEDIA ----------------------------------------------------*/
