/*-------------------------------------------------- GLOBAL STYLES ----------------------------------------------------*/
:root {
  /*----------COLORS----------*/
  --grey: #cbcbcb;
  --green: #82a390;

  /*----------FONTS----------*/

  --font-titles: "Forma DJR Display", sans-serif; /* titles */
  --font-navbar: "Quicksand", sans-serif; /* nav-bar */
  --font-buttons: "Acumin Variable Concept", sans-serif; /* buttons */
}

.logo {
  filter: invert(0%);
  max-width: 70px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--green); /* change color on hover */
}

/* Remove underline from navigation links */
nav a:hover {
  text-decoration: none;
}

body {
  font-family: "Quicksand", sans-serif;
}

/*-------------------------------------------------- HOMEPAGE ----------------------------------------------------*/

/* invert the logo color for homepage */
.homepage .logo {
  filter: invert(100%);
}
/* change the color of the navbar for homepage */
.homepage nav a {
  color: white;
}

.homepage nav a:hover {
  color: var(--green);
}

#player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Place the video behind the content */
}
/* content styles */
.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; /* Place the content above the video */
}

/* ------------------------------------ NEON BUTTON STYLES --------------------------------------*/
.neon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20%;
  right: 10%;
  width: 100px; /* set a fixed width to ensure a circular shape */
  height: 100px; /* set a fixed height to ensure a circular shape */
  /* padding: 10px; */
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s; /* border-color transition */
  line-height: 50px;
  background-color: transparent;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, inset 0 0 5px white,
    inset 0 0 10px white;
  border-color: white; /* Change border color on hover */
  z-index: 2; /* place the button above the video */
}

/* Neon glow effect */
.neon-button:hover {
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
    inset 0 0 10px #00ff00, inset 0 0 20px #00ff00;
  border-color: #00ff00; /* Change border color on hover */
  /* width: 110px;
  height: 110px;
  line-height: 110px; */
}

.button-text {
  margin: 0;
}

.title {
  font-family: "Forma DJR Display", sans-serif;
  font-size: 2.5rem;
  text-align: left;
  font-weight: bold;
  color: white;
}

.room-arrow {
  margin-right: 20px;
}
/*-------------------------------------------------- MEDIA ----------------------------------------------------*/

@media (max-width: 768px) {
  .neon-button {
    bottom: 10%;
    right: 5%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
  }

  .title {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  /* Add your styles here */
  /* For example, you can target specific elements or apply general styles */
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  /* Example: Center the navigation links */
  nav {
    justify-content: space-between;
    padding: 10px 0;
  }
  nav a {
    display: none; /* hide the links in the navigation */
  }

  /* adjust the button size for smaller screens */
  .neon-button {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}
.mobile-menu-dropdown {
  display: none; /* hide the dropdown by default */
}
/* mobile menu icon styles */
.mobile-menu-icon {
  display: none; /* hide the icon by default on larger screens */
  cursor: pointer;

  .mobile-menu-icon.clicked ~ .mobile-menu-dropdown {
    display: block;
  }

  .mobile-menu-icon {
    display: block; /* show the icon for smaller screens */
  }
}
