/*-------------------------------------------------- GLOBAL STYLES ----------------------------------------------------*/
:root {
  /*----------COLORS----------*/
  --grey: #cbcbcb;
  --green: #82a390;

  /*----------FONTS----------*/

  --font-titles: "Forma DJR Display", sans-serif; /* titles */
  --font-navbar: "Quicksand", sans-serif; /* nav-bar */
  --font-buttons: "Acumin Variable Concept", sans-serif; /* buttons */
}

.logo {
  filter: invert(0%);
  max-width: 150px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--green); /* change color on hover */
}

/* Remove underline from navigation links */
nav a:hover {
  text-decoration: none;
}

/* Logout button styles */
#logout {
  color: black;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

#logout:hover {
  color: var(--green); /* Change color on hover */
  text-decoration: underline;
}

body {
  font-family: "Quicksand", sans-serif;
}

/*-------------------------------------------------- HOMEPAGE ----------------------------------------------------*/

.monkey-cup-logo {
  filter: invert(100%);
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* center the logo by moving it back 50% of its own width and height in both directions */
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: top left;
  animation: tilt 2s ease-in-out 5s forwards;
}

/* tilt animation */
@keyframes tilt {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(20deg);
  }
}

/* .monkey-cup-logo:hover {
  filter: invert(0%);
  animation: wave 0.5s ease infinite; /* the wave animation on hover */
/* } */

/* custom animation */
/* @keyframes wave {
  /* keyframe steps 0%, 25%, 50%, 75%, 100% */
/* 0% { */
/* sets the initial position of the logo, without any horizontal movement */
/* transform: translateX(0); */
/* } */
/* 25% { */
/* creates a gentle side-to-side movement by transalating the logo horizontally by 5px in both directions */
/* transform: translateX(-5px); */
/* } */
/* 50% { */
/* transform: translateX(5px); */
/* } */
/* 75% { */
/* transform: translateX(-5px); */
/* } */
/* 100% { */
/* returns the logo to its original horizontal position */
/* transform: translateX(0); */
/* } */
/* } */

/* invert the logo color for homepage */
.homepage .logo {
  filter: invert(100%);
}
/* change the color of the navbar for homepage */
.homepage nav a {
  color: white;
}

.homepage nav a:hover {
  color: var(--green);
}

#player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Place the video behind the content */
}
/* content styles */
.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* ------------------------------------ NEON BUTTON STYLES --------------------------------------*/
.neon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20%;
  right: 10%;
  width: 100px; /* set a fixed width to ensure a circular shape */
  height: 100px; /* set a fixed height to ensure a circular shape */
  /* padding: 10px; */
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s; /* border-color transition */
  line-height: 50px;
  background-color: transparent;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, inset 0 0 5px white,
    inset 0 0 10px white;
  border-color: white; /* Change border color on hover */
  z-index: 2; /* place the button above the video */
}

/* Neon glow effect */
.neon-button:hover {
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
    inset 0 0 10px #00ff00, inset 0 0 20px #00ff00;
  border-color: #00ff00; /* Change border color on hover */
  /* width: 110px;
  height: 110px;
  line-height: 110px; */
}

.button-text {
  margin: 0;
}

.title {
  font-family: "Forma DJR Display", sans-serif;
  font-size: 2.5rem;
  text-align: left;
  font-weight: bold;
  color: white;
}

.room-arrow {
  margin-right: 20px;
}

/*-------------------------------------------------- RESERVATIONS----------------------------------------------------*/

.resTitle {
  margin-bottom: 80px;
  text-align: center;
}

.calendarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.resDate {
  font-size: 20px;
  margin-bottom: 10px;
}

.btn-dark {
  margin: 5px;
  padding: 15px 50px;
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-dark:hover {
  background-color: white;
  color: var(--green);
  border: 2px solid var(--green);
}

.modal-dialog {
  max-width: 400px;
}

.modal-title {
  font-size: 20px;
}

.modal-body {
  font-size: 16px;
}

.modal-footer {
  justify-content: center;
}

.btn-secondary {
  margin-right: 10px;
}

.btn-primary {
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
  background-color: white;
  color: var(--green);
  border: 2px solid var(--green);
}

/*-------------------------------------------------- PROFILE ----------------------------------------------------*/

.accordion-button {
  background-color: var(--grey);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.accordion-button:hover {
  background-color: white;
  color: var(--green);
  border: 2px solid var(--green);
}

.profile-content {
  width: 100%;
  margin-top: 10px;
}

.delete-button {
  background-color: var(--green);
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.delete-button:hover {
  background-color: white;
  color: var(--green);
  border: 2px solid var(--green);
}

.cancel-button {
  margin-top: 10px;
  margin-left: 20px;
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cancel-button:hover {
  background-color: white;
  color: var(--green);
  border: 2px solid var(--green);
}
/*-------------------------------------------------- DEVELOPERS----------------------------------------------------*/

.devTitle {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Forma DJR Display", sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.about-section {
  padding: 50px 0;
  text-align: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.developer {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.developer h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.developer-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.developer h3 {
  margin-top: 10px;
  font-size: 20px;
}

.developer-links {
  margin-top: 10px;
}

.developer-links a {
  color: var(--green);
  text-decoration: none;
  margin: 0 5px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}

/*-------------------------------------------------- MEDIA ----------------------------------------------------*/

@media (max-width: 768px) {
  .neon-button {
    bottom: 10%;
    right: 5%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
  }

  .developer {
    width: 90%;
    margin: 20px auto;
  }

  .title {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  body {
    font-size: 14px;
  }

  .logo {
    max-width: 50px;
  }

  nav {
    justify-content: space-between;
    padding: 10px 0;
  }
  nav a {
    display: none; /* hide the links in the navigation */
  }

  /* adjust the button size for smaller screens */
  .neon-button {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  .mobile-menu-icon {
    display: none;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: var(--green);
  }

  .mobile-menu-icon.clicked .bar {
    background-color: white; /* Set the bar color to white when the icon is clicked */
  }
}
